.card {
  position: relative;
  display: inline-block;
  overflow: hidden;

  &::before {
    content: "";
    z-index: 6;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, $dark 100%);
  }

  &::after {
    opacity: 0;
    content: "";
    z-index: 7;
    position: absolute;
    left: 15px;
    right: 15px;
    top: 15px;
    bottom: 15px;
    border: 3px double rgba(255, 255, 255, 0.4);
    transition: opacity 0.2s ease-in;
  }
  &:hover {
    color: $white;
  }
  &:hover::after {
    opacity: 1;
  }
}

.card__title {
  position: absolute;
  z-index: 8;
  left: 50px;
  right: 10px;
  bottom: 44px;
  font-size: 24px;
}

.apartments__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  // grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 30px;
}

.card__img {
  position: relative;
  z-index: 5;
  transition: all 0.2s ease-in;
}

.card:hover .card__img {
  transform: scale(1.1);
  filter: contarst(110%) brightness(1.2) saturate(1.2);
}
