body {
  font-family: $font-main;
  background-color: $dark;
  color: $white;
  font-size: 16px;
}

a {
  color: $white;
  transition: color 0.2s ease-in;
  &:hover {
    color: $accent;
  }
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1140px;

  &--sm {
    max-width: 840px;
  }
}

.text-right {
  text-align: right;
}

.title-2 {
  color: $accent;
  font-family: $font-accent;
  font-size: 36px;
  font-weight: 700;
}

.email-bold {
  color: $accent;
  font-weight: 700;
}

.none {
  display: none !important;
}

.no-scroll {
  overflow-y: hidden;
}
